body{
    background-color: #EFEFEF;
    font-family:'Roboto', sans-serif;
    color: #333333;
    font-size: 14px;
    margin: 0;
}
.page-header {
    &__header {
        background-color: #FFFFFF;
       
    }
}
.main-nav {
    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: center;
        gap: 30px;
        margin: 0;
        padding: 18px;
    }
    &__link {
        text-decoration: none;
        color: #333333;
    }
}
.header {
    &__title {
        display: flex;
        justify-content: space-between;
        width: 1100px;
        margin: 0 auto;
        padding: 18px 0;
    }
    &__user-nav {
        border-top: 1px solid #EFEFEF;
        padding: 18px 0;
        
    }
}

.title {   
    &__connection {
        margin: auto 0; 
        .number {
            a{
                text-decoration: none;
                color: #333333;
            }
        }
        button{
            margin-left: 40px;
            background: transparent;
	        border: 2px solid #66C05D;
	        padding: 12px 27px;
            border-radius: 40px;
            &:hover{
                background-color: #66C05D;
                color: #FFFFFF;
            }
        }
    }
}
.logo {
    display: flex;
    &__text{
        font-size: 36px;
        font-weight: bold;
        color: #66C05D;
        padding: 0;
        margin: auto 20px;
        text-transform: uppercase;
    }
}

.user-nav {   
    &__list {
        margin: 0;
        display: flex;
        list-style: none;
        justify-content: center;
        gap: 40px;
    }
    &__link {
        font-size: 16px;
        text-decoration: none;
        color: #333333;
    }
}

.hero {
    display: flex;
    position: relative;
    background: url("/images/background.png") 50%;
    height: 604px;
    justify-content: center;
    background-color: #66C05D;
    &__wrapper{
        width: 1100px;
        margin: auto 0;
        display: flex;
        justify-content: space-between;
        gap: 143px;
    }
        &__content {
            width: 308px;
            color: #FFFFFF;
        }
    
        &__image {
            margin: auto 0;
            z-index: 3;
        }
    
}
.content {

    &__title {
        margin: 0;
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 50px;
    }
    p{
        line-height: 20px;
    }
    &__button{
        background: transparent;
        color: #FFFFFF;
	    border: 2px solid #FFFFFF;
	    padding: 12px 27px;
        border-radius: 40px;
        margin-top: 50px;
        &:hover{
            background-color: #FFFFFF;
            color: #333333;
        }
    }
}
.buy {
    width: 1110px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 100px;
    &__title {
        display: flex;
        &__text{
            font-size: 24px;
            font-weight: bold;
            margin: 0;
            margin-bottom: 38px;   
        }
        img{
            margin-bottom: 17px;
            margin-left: auto;
            margin-right: 45.33px;
        }
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        list-style: none;
        gap: 30px;
    }

    &__card {
        width: 255px;
        background-color: #FFFFFF;
    }
}

.card {

    &__img {
        display: block;
        margin: 0 auto;
        margin-top: 25px;
    }

    &__description {
        font-size: 14px;
        line-height: 140.6%;
        width: 76%;
        margin: auto;
        text-align: center;
        
    }
    &__price {
        display: flex;
        flex-direction: column;
        
    }
}
.price {
    &__value {
        font-weight: bold;
        font-size: 21px;
        font-weight: 500;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    &__button {
        background: #66C05D;
        color: #FFFFFF;
	    border: 2px solid #66C05D;
	    padding: 9px 39px;
        border-radius: 30px;
        margin: 0 auto;
        &:hover{
            background: transparent;
            color: #333333;
            border: 2px solid #66C05D;
        }
    }
}
.social {
    display: flex;
    width: 1110px;
    margin: 0 auto;
    gap: 30px;
    margin-bottom: 133px;

    &__bonus {
        width: 540px;
        display: flex;
        background-color: #66C05D;
        color: #FFFFFF;
    }
    &__about-us {
        width: 540px;
        background-color: #66C05D;
        color: #FFFFFF;
    }
}
.bonus {
    &__wrapper{
        margin-left: 40px;
        width: 46%;
    }
    &__title {
        margin-top: 35px;
        font-size: 18px;
        font-weight: bold;
    }
    &__content {
        margin: 0;
        margin-top: 25px;
        line-height: 140.6%;
    }
    &__email{
        margin-top: 25px;
        border: none;
        border-radius: 30px;
        padding: 9px 25px;
        margin-bottom: 35px;
    }
    img{
        margin: auto;
    }
}

.about-us {
    &__wrapper{
        margin-left: 40px;
    }
    &__title {
        margin-top: 35px;
        font-size: 18px;
        font-weight: bold;
    }
    &__content {
        margin: 0;
        margin-top: 25px;
        line-height: 140.6%;
        max-width: 141px;
    }
    &__button {
        margin-top: 25px;
        color: #FFFFFF;
        background-color: transparent;
        border: 2px solid #FFFFFF;
        border-radius: 30px;
        padding: 9px 29px;
        margin-bottom: 35px;
        outline: none;
        &:hover{
            background-color: #FFFFFF;
            color: #333333;
        }
    }
}
.page-footer {
    &__info {
        background-color: #FFFFFF;
    }
}
.info {
    &__wrapper {
        width: 1110px;
        margin: 0 auto;
        display: flex;
    }
    &__list {
        display: flex;
        list-style: none;
        gap: 20px;
        margin: 0;
        margin: 38px 0;
        margin-right: auto;
        padding: 0;
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        border-radius: 45px;
        border: 2px solid #66C05D;
    }
    &__adress {
        font-style: normal;
        margin: auto 0;
        margin-left: auto;
    }
    &__connection {
        margin: auto 0;
        margin-left: auto;
    }
}
.connection {
    &__number {
        a{
            font-size: 16px;
            text-decoration: none;
            color: #333333;
        }
        
    }
    &__button{
        color: #333333;
        background-color: transparent;
        border: 2px solid #66C05D;
        border-radius: 30px;
        padding: 12px 27px;
        outline: none;
        margin-left: 40px;
        &:hover{
            background-color: #66C05D;
            color: #FFFFFF;
        }
    }
}
.policy {
    display: flex;
    width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    font-size: 12px;
    .copyright {
        color: #828282;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-right: auto;
        margin-left: 0;
    }
    a{
        text-decoration: none;
        color: #828282;
        margin: auto 0;
    }
}

@media (max-width: 1025px) {
    .header {
        &__title{
            width: 839.3px;
        }
    }
    .hero {
        &__wrapper{
            width: 839.3px;
        }
    }

    .buy {
        width: 720px;
    }

    .social {
        width: 839.3px;
    }

    .info {
        &__wrapper {
            width: 839.3px;
        }
    }
    .policy {
        width: 839.3px;
    }
}

@media (max-width: 769px) {
    .header {
        &__title {
            width: 586.6px;
        }
    }
    .hero {
        &__wrapper{
            width: 586.6px;
        }
    }

    .buy {
        width: 540px;
    }

    .social {
        width: 540px;
        flex-direction: column;
    }

    .info {
        &__wrapper {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            width: 586.6px;
        }
        &__list{
            margin-right: 0;
        }
        &__adress{
            margin: 10px 0;
        }
        &__connection{
            display: flex;
            flex-direction: column;
            margin-left: 0;
        }
    }
    .connection {
        &__number {
            align-self: center;
            a{
                font-size: 16px;
                text-decoration: none;
                color: #333333;
            }
        }
        &__button{
            margin: 10px 0;
        }
    }
    .policy {
        width: 586.6px;
    }
}

@media (max-width: 426px) {
    .user-nav {
        &__list {
            padding-left: 0;
            flex-wrap: wrap;
        }
    }
    .header {
        &__title {
            width: 324.6px;
        }
    }
    .title{
        justify-content: center;
        &__connection{
            display: none;
        }
    }
    .hero {
        background: url("/images/background.png") 60%;
        &__wrapper{
            width: 324.6px;
        }
    }

    .buy {
        width: 250px;
    }

    .social {
        width: 250px;
        flex-direction: column;
        &__bonus{
            width: 250px;
        }
        &__about-us{
            width: 250px;
        }
    }

    .bonus{
        &__wrapper{
            margin-left: 20px;
            width: 80%;
        }
        &__email{
            margin-left: 20px;
            width: 60%;
        }
        img{
            display: none;
        }
    }

    .info {
        &__wrapper {
            width: 324.6px;
        }
    }
    .policy {
        width: 324.6px;
    }
}

@media (max-width: 376px) {
    .car{
        display: none;
    }
}

@media (max-width: 321px) {
    .info{
        &__wrapper{
            width: 100%;
        }
    }

    .hero{
        &__content{
            width: 100%;
            padding-left: 20px;
        }
    }

    .title{
        width: 100%;
    }

    .policy{
        width: 100%;
    }
}

